/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}




/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {
    background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
    color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.7; /* line-height is unit-less */
    font-size: 100%;
    text-decoration: none;
}
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

#container {
    width: 1000px;
    margin: 0 auto 0 auto;

}

#Header {
    background: clear;
    padding: 50px;

}

#main {
    background: white;
    padding: 50px;
    width: 700px;
    float: left;

}

#Sidebar {
    background: white;
    width: 300px;
    float: left;
    padding: 50px;
}

#footer {
    background: white;
    padding: 50px;

}

.Rounded {

    border-radius: 50%;

}


